src/templates/blocks/footer.pug
div(data-wow.offset='20').footer.wow.fadeIn
	div.container
		div.footer__row
			div.footer__col
				div.footer__logo
					img(src="assets/images/static/header__logo.svg", alt="").footer__logo-image
					a(href="#").footer__logo-link
			div.footer__col
				a(href="tel:8 800 555 666 77").footer__phone 8 800 555 666 7
			div.footer__col
				a(href="https://cakelabs.ru").footer__copy Разработка сайта - Cakelabs

dist/blocks/footer.html

<div class="footer wow fadeIn" data-wow.offset="20">
  <div class="container">
    <div class="footer__row">
      <div class="footer__col">
        <div class="footer__logo"><img class="footer__logo-image" src="assets/images/static/header__logo.svg" alt=""/><a class="footer__logo-link" href="#"></a></div>
      </div>
      <div class="footer__col"><a class="footer__phone" href="tel:8 800 555 666 77">8 800 555 666 7</a></div>
      <div class="footer__col"><a class="footer__copy" href="https://cakelabs.ru">Разработка сайта - Cakelabs</a></div>
    </div>
  </div>
</div>
