dist/blocks/header.html

<header class="header">
  <div class="container">
    <div class="header__inner"><a class="header__logo" href="#">
        <div class="header__logo-text">Мегаоптика</div><img class="header__logo-image" src="assets/images/static/header__logo.svg" alt=""/></a>
      <div class="header__controls">
        <div class="header__button"><a class="button button--orange" href="#" data-popup="order">Записаться</a></div>
        <div class="header__phone"><a class="header__phone-link" href="tel:880055566677">8 800 555 666 7</a></div>
        <div class="header__menu" data-popup="categories">
          <div class="header__menu-burger">
            <div class="header__menu-burger-bar"></div>
            <div class="header__menu-burger-bar"></div>
            <div class="header__menu-burger-bar"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__drop" id="categories">
    <div class="header__drop-container">
      <div class="header__drop-inner"><a class="header__drop-link" href="#" data-anchor="advantages">Преимущества</a><a class="header__drop-link" href="#" data-anchor="medic">Врачи</a><a class="header__drop-link" href="#" data-anchor="diagn">Расширенная диагностика</a><a class="header__drop-link" href="#" data-anchor="treatment">Лечение и коррекция </a><a class="header__drop-link" href="#" data-anchor="virtual">Виртуальный 3D-тур</a><a class="header__drop-link" href="#" data-anchor="master">Мастерская</a><a class="header__drop-link" href="#" data-anchor="comf">Зона комфорта</a><a class="header__drop-link" href="#" data-anchor="contacts">Как нас найти</a></div>
      <div class="header__drop-images">
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_7.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_1.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_2.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_6.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_3.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_5.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_4.svg)"></div>
        <div class="header__drop-image" style="background-image:url(assets/images/content/cat_8.svg)"></div>
      </div>
    </div>
  </div>
</header>

src/templates/blocks/header.pug
header.header
	div.container
		div.header__inner
			a(href="#").header__logo
				div.header__logo-text Мегаоптика
				img(src="assets/images/static/header__logo.svg", alt="").header__logo-image
			div.header__controls
				div.header__button
					a(href="#" data-popup='order').button.button--orange Записаться
				div.header__phone
					a(href="tel:880055566677").header__phone-link 8 800 555 666 7
				div(data-popup='categories').header__menu
					//- div(data-show='меню' data-hide='закрыть').header__menu-text
					div.header__menu-burger
						div.header__menu-burger-bar
						div.header__menu-burger-bar
						div.header__menu-burger-bar

	div.header__drop#categories
		div.header__drop-container
			div.header__drop-inner
				a(href="#" data-anchor='advantages').header__drop-link Преимущества
				a(href="#" data-anchor='medic').header__drop-link Врачи
				a(href="#" data-anchor='diagn').header__drop-link Расширенная диагностика
				a(href="#" data-anchor='treatment').header__drop-link Лечение и коррекция 
				a(href="#" data-anchor='virtual').header__drop-link Виртуальный 3D-тур
				a(href="#" data-anchor='master').header__drop-link Мастерская
				a(href="#" data-anchor='comf').header__drop-link Зона комфорта
				a(href="#" data-anchor='contacts').header__drop-link Как нас найти

			div.header__drop-images
				div(style='background-image:url(assets/images/content/cat_7.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_1.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_2.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_6.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_3.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_5.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_4.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_8.svg)').header__drop-image
