dist/blocks/popup.html

<div class="popups">
  <div class="popup" id="order">
    <div class="popup__inner">
      <div class="popup__closer"></div>
      <div class="popup__over"></div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="popup__title">Запись</div>
          <form class="popup__form" action="mail.php" id="orderForm">
            <input type="hidden" name="action" value="order"/>
            <div class="popup__enemy">
              <input class="popup__enemy-input" type="text" value="" name="Doctor"/>
              <div class="popup__enemy-remove"></div>
            </div>
            <div class="popup__form-inner">
              <div class="form">
                <div class="form__line form__line--error">
                  <div class="form__item">
                    <div class="form__error_text"></div>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваше имя</label>
                    <input class="form__input validate__NAME" type="text" name="Name"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш e-mail</label>
                    <input class="form__input validate__EMAIL" type="text" name="Email"/>
                  </div>
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш телефон</label>
                    <input class="form__input validate__PHONE phone" type="text" name="Phone"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Комментарий</label>
                    <textarea class="form__textarea" name="Comment"></textarea>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__check-wrapper">
                    <input class="form__check validate__CHECKBOX" type="checkbox" name="agree" checked="checked" id="agree"/>
                    <label class="form__check-label" for="agree">Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.</label>
                  </div>
                </div>
                <div class="form__button">
                  <button class="button button--orange button--big" type="submit">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__success">
          <div class="popup__success-title">Ваше сообщение отправлено</div>
          <div class="popup__success-text">Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup" id="contact">
    <div class="popup__inner">
      <div class="popup__closer"></div>
      <div class="popup__over"></div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="popup__title">Задать вопрос</div>
          <form class="popup__form" action="mail.php" id="askForm">
            <input type="hidden" name="action" value="ask"/>
            <div class="popup__form-inner">
              <div class="form">
                <div class="form__line form__line--error">
                  <div class="form__item">
                    <div class="form__error_text"></div>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваше имя</label>
                    <input class="form__input validate__NAME" type="text" name="Name"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш e-mail</label>
                    <input class="form__input validate__EMAIL" type="text" name="Email"/>
                  </div>
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш телефон</label>
                    <input class="form__input validate__PHONE phone" type="text" name="Phone"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваш вопрос</label>
                    <textarea class="form__textarea" name="Comment"></textarea>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__check-wrapper">
                    <input class="form__check validate__CHECKBOX" type="checkbox" name="agree" checked="checked" id="agree"/>
                    <label class="form__check-label" for="agree">Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.</label>
                  </div>
                </div>
                <div class="form__button">
                  <button class="button button--orange button--big" type="submit">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__success">
          <div class="popup__success-title">Ваше сообщение отправлено</div>
          <div class="popup__success-text">Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup" id="mastery">
    <div class="popup__inner">
      <div class="popup__closer"></div>
      <div class="popup__over"></div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="popup__title">Изготовление очков</div>
          <form class="popup__form" action="mail.php" id="manForm">
            <input type="hidden" name="action" value="manufacturing"/>
            <div class="popup__form-inner">
              <div class="form">
                <div class="form__line form__line--error">
                  <div class="form__item">
                    <div class="form__error_text"></div>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваше имя</label>
                    <input class="form__input validate__NAME" type="text" name="Name"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш e-mail</label>
                    <input class="form__input validate__EMAIL" type="text" name="Email"/>
                  </div>
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш телефон</label>
                    <input class="form__input validate__PHONE phone" type="text" name="Phone"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Комментарий</label>
                    <textarea class="form__textarea" name="Comment"></textarea>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__check-wrapper">
                    <input class="form__check validate__CHECKBOX" type="checkbox" name="agree" checked="checked" id="agree"/>
                    <label class="form__check-label" for="agree">Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.</label>
                  </div>
                </div>
                <div class="form__button">
                  <button class="button button--orange button--big" type="submit">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__success">
          <div class="popup__success-title">Ваше сообщение отправлено</div>
          <div class="popup__success-text">Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup" id="diagnostics">
    <div class="popup__inner">
      <div class="popup__closer"></div>
      <div class="popup__over"></div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="popup__title">На диагностику</div>
          <form class="popup__form" action="mail.php" id="diagForm">
            <input type="hidden" name="action" value="diagnostics"/>
            <div class="popup__form-inner">
              <div class="form">
                <div class="form__line form__line--error">
                  <div class="form__item">
                    <div class="form__error_text"></div>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваше имя</label>
                    <input class="form__input validate__NAME" type="text" name="Name"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш e-mail</label>
                    <input class="form__input validate__EMAIL" type="text" name="Email"/>
                  </div>
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш телефон</label>
                    <input class="form__input validate__PHONE phone" type="text" name="Phone"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Комментарий</label>
                    <textarea class="form__textarea" name="Comment"></textarea>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__check-wrapper">
                    <input class="form__check validate__CHECKBOX" type="checkbox" name="agree" checked="checked" id="agree"/>
                    <label class="form__check-label" for="agree">Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.</label>
                  </div>
                </div>
                <div class="form__button">
                  <button class="button button--orange button--big" type="submit">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__success">
          <div class="popup__success-title">Ваше сообщение отправлено</div>
          <div class="popup__success-text">Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="popup" id="free">
    <div class="popup__inner">
      <div class="popup__closer"></div>
      <div class="popup__over"></div>
      <div class="popup__container">
        <div class="popup__content">
          <div class="popup__title">На бесплатное занятие</div>
          <form class="popup__form" action="mail.php" id="freeForm">
            <input type="hidden" name="action" value="freelesson"/>
            <div class="popup__enemy">
              <input class="popup__enemy-input" type="text" value="" name="disease"/>
              <div class="popup__enemy-remove"></div>
            </div>
            <div class="popup__form-inner">
              <div class="form">
                <div class="form__line form__line--error">
                  <div class="form__item">
                    <div class="form__error_text"></div>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Ваше имя</label>
                    <input class="form__input validate__NAME" type="text" name="Name"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш e-mail</label>
                    <input class="form__input validate__EMAIL" type="text" name="Email"/>
                  </div>
                  <div class="form__item form__item--small">
                    <label class="form__label" for="">Ваш телефон</label>
                    <input class="form__input validate__PHONE phone" type="text" name="Phone"/>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__item">
                    <label class="form__label" for="">Комментарий</label>
                    <textarea class="form__textarea" name="Comment"></textarea>
                  </div>
                </div>
                <div class="form__line">
                  <div class="form__check-wrapper">
                    <input class="form__check validate__CHECKBOX" type="checkbox" name="agree" checked="checked" id="agree"/>
                    <label class="form__check-label" for="agree">Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.</label>
                  </div>
                </div>
                <div class="form__button">
                  <button class="button button--orange button--big" type="submit">Отправить</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="popup__success">
          <div class="popup__success-title">Ваше сообщение отправлено</div>
          <div class="popup__success-text">Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="s-popups">
  <div class="s-popup s-popup--blue" id="service_1">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">01</div>
            <div class="s-popup__content">
              <div class="s-popup__title">Уникальный диагностический центр для взрослых и детей</div>
              <div class="s-popup__list">
                <div class="s-popup__list-item">Современное медицинское оборудование</div>
                <div class="s-popup__list-item">Врачи офтальмологи высшей категории</div>
                <div class="s-popup__list-item">Компьютерная диагностика</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/s-popup_1.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--dark-blue" id="service_2">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card s-popup__card--2">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">02</div>
            <div class="s-popup__content">
              <div class="s-popup__title">Амбулаторное лечение взрослых и детей</div>
              <div class="s-popup__list">
                <div class="s-popup__list-item">Коррекция сложного зрения</div>
                <div class="s-popup__list-item">Врачи офтальмологи высшей категории</div>
                <div class="s-popup__list-item">Онлайн запись</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/s-popup_2.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--green" id="service_3">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card s-popup__card--3">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">03</div>
            <div class="s-popup__content">
              <div class="s-popup__title">Огромный выбор оправ, очков и контактных линз</div>
              <div class="s-popup__list">
                <div class="s-popup__list-item">Более 8000 моделей</div>
                <div class="s-popup__list-item">Более 120 брендов</div>
                <div class="s-popup__list-item">Полная линейка Ray Ban</div>
                <div class="s-popup__list-item">Изготовление очков любой сложности</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/s-popup_3.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--orange" id="service_4">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card s-popup__card--4">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">04</div>
            <div class="s-popup__content">
              <div class="s-popup__title">Всегда лучшие цены, выгодные акции, сезонные распродажи</div>
              <div class="s-popup__list">
                <div class="s-popup__list-item">Регулярное обновление ассортимента</div>
                <div class="s-popup__list-item">Прямые поставки от ведущих производителей</div>
                <div class="s-popup__list-item">Система лояльности</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/s-popup_4.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--custom" id="p-card-1">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">01</div>
            <div class="s-popup__title">Макдэл 08</div>
            <div class="s-popup__text">Гелий-неон-лазерный аппарат. Занятия на приборе стимулируют развитие форменного зрения и нормализует аккомадационную способность глаза.</div>
            <div class="s-popup__button"><a class="button button--orange button--big" href="#" data-popup="order">Записаться на занятие</a></div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/p-card-popup_1.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--custom" id="p-card-2">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">01</div>
            <div class="s-popup__title">Амо-Атос (АМБЛИО)</div>
            <div class="s-popup__text">Магнитотерапия  и фотостимуляция  сетчатки   и зрительного нерва. Методика позволяет развивать и повышать зрительные функции. </div>
            <div class="s-popup__button"><a class="button button--orange button--big" href="#" data-popup="order">Записаться на занятие</a></div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/p-card-popup_2.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--custom" id="p-card-3">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">03</div>
            <div class="s-popup__title">Плеоптика 3-Тир, Галактика</div>
            <div class="s-popup__text">Программа предназначена для лечения амблиопии («ленивый глаз») любой степени и любого вида у пациентов от 4-х лет и старше. Метод дает хорошие результаты также в случаях резко неустойчивой фиксации, когда многие другие способы лечения амблиопии оказываются неэффективными.</div>
            <div class="s-popup__button"><a class="button button--orange button--big" href="#" data-popup="order">Записаться на занятие</a></div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/p-card-popup_3.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--custom" id="p-card-4">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">03</div>
            <div class="s-popup__title">Визотроник</div>
            <div class="s-popup__text">Офтальмологический тренажер-релаксатор, предназначенный для профилактики и лечения миопии, спазма аккомодации, хронического зрительного утомления, компьютерного зрительного синдрома, жалоб астенопического характера у взрослых и детей. Под воздействием тренировок происходит рефлекторная релаксация цилиарной мышцы, что приводит к снятию зрительного напряжения.</div>
            <div class="s-popup__button"><a class="button button--orange button--big" href="#" data-popup="order">Записаться на занятие</a></div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/p-card-popup_4.jpg"></div>
    </div>
  </div>
  <div class="s-popup s-popup--custom" id="p-card-5">
    <div class="s-popup__wrap">
      <div class="s-popup__inner">
        <div class="s-popup__closer"></div>
        <div class="s-popup__card">
          <div class="s-popup__card-inner">
            <div class="s-popup__num">03</div>
            <div class="s-popup__title">Синоптофор</div>
            <div class="s-popup__text">Синоптофор – это ортоптический, который используется для лечения косоглазия, увеличения фузионных резервов и подвижности глаз. С его помощью удается исправить нарушения в двигательной функции органа зрения. Устройство позволяет определить угол отклонения от нормы, обнаружить слепые участки, получить информацию о фузионных резервах и состоянии сетчатки.</div>
            <div class="s-popup__button"><a class="button button--orange button--big" href="#" data-popup="order">Записаться на занятие</a></div>
          </div>
        </div>
      </div>
      <div class="s-popup__image" style="background-image:url()" data-src="assets/images/content/p-card-popup_5.jpg"></div>
    </div>
  </div>
</div>

src/templates/blocks/popup.pug
div.popups
	div.popup#order
		div.popup__inner
			div.popup__closer
			div.popup__over
			div.popup__container
				div.popup__content
					div.popup__title Запись
					form(action="mail.php").popup__form#orderForm
						input(type='hidden' name='action' value='order')
						div.popup__enemy
							input(type="text" value='' name='Doctor').popup__enemy-input
							div.popup__enemy-remove
						div.popup__form-inner
							div.form
								div.form__line.form__line--error
									div.form__item
										div.form__error_text
								div.form__line
									div.form__item
										label(for="").form__label Ваше имя
										input(type="text" name='Name').form__input.validate__NAME
								div.form__line
									div.form__item.form__item--small
										label(for="").form__label Ваш e-mail
										input(type="text" name='Email').form__input.validate__EMAIL
									div.form__item.form__item--small
										label(for="").form__label Ваш телефон
										input(type="text" name='Phone').form__input.validate__PHONE.phone
								div.form__line
									div.form__item
										label(for="").form__label Комментарий
										textarea(name='Comment').form__textarea
								div.form__line
									div.form__check-wrapper
										input(type="checkbox" name='agree' checked='checked').form__check.validate__CHECKBOX#agree
										label(for="agree").form__check-label Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.
								div.form__button
									button(type='submit').button.button--orange.button--big Отправить

				div.popup__success
					div.popup__success-title Ваше сообщение отправлено
					div.popup__success-text Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.


	div.popup#contact
		div.popup__inner
			div.popup__closer
			div.popup__over
			div.popup__container
				div.popup__content
					div.popup__title Задать вопрос
					form(action="mail.php").popup__form#askForm
						input(type='hidden' name='action' value='ask')
						div.popup__form-inner
							div.form
								div.form__line.form__line--error
									div.form__item
										div.form__error_text
								div.form__line
									div.form__item
										label(for="").form__label Ваше имя
										input(type="text" name='Name').form__input.validate__NAME
								div.form__line
									div.form__item.form__item--small
										label(for="").form__label Ваш e-mail
										input(type="text" name='Email').form__input.validate__EMAIL
									div.form__item.form__item--small
										label(for="").form__label Ваш телефон
										input(type="text" name='Phone').form__input.validate__PHONE.phone
								div.form__line
									div.form__item
										label(for="").form__label Ваш вопрос
										textarea(name='Comment').form__textarea
								div.form__line
									div.form__check-wrapper
										input(type="checkbox" name='agree' checked='checked').form__check.validate__CHECKBOX#agree
										label(for="agree").form__check-label Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.
								div.form__button
									button(type='submit').button.button--orange.button--big Отправить

				div.popup__success
					div.popup__success-title Ваше сообщение отправлено
					div.popup__success-text Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.

	div.popup#mastery
		div.popup__inner
			div.popup__closer
			div.popup__over
			div.popup__container
				div.popup__content
					div.popup__title Изготовление очков
					form(action="mail.php").popup__form#manForm
						input(type='hidden' name='action' value='manufacturing')
						div.popup__form-inner
							div.form
								div.form__line.form__line--error
									div.form__item
										div.form__error_text
								div.form__line
									div.form__item
										label(for="").form__label Ваше имя
										input(type="text" name='Name').form__input.validate__NAME
								div.form__line
									div.form__item.form__item--small
										label(for="").form__label Ваш e-mail
										input(type="text" name='Email').form__input.validate__EMAIL
									div.form__item.form__item--small
										label(for="").form__label Ваш телефон
										input(type="text" name='Phone').form__input.validate__PHONE.phone
								div.form__line
									div.form__item
										label(for="").form__label Комментарий
										textarea(name='Comment').form__textarea
								div.form__line
									div.form__check-wrapper
										input(type="checkbox" name='agree' checked='checked').form__check.validate__CHECKBOX#agree
										label(for="agree").form__check-label Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.
								div.form__button
									button(type='submit').button.button--orange.button--big Отправить

				div.popup__success
					div.popup__success-title Ваше сообщение отправлено
					div.popup__success-text Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.

	div.popup#diagnostics
		div.popup__inner
			div.popup__closer
			div.popup__over
			div.popup__container
				div.popup__content
					div.popup__title На диагностику
					form(action="mail.php").popup__form#diagForm
						input(type='hidden' name='action' value='diagnostics')
						div.popup__form-inner
							div.form
								div.form__line.form__line--error
									div.form__item
										div.form__error_text
								div.form__line
									div.form__item
										label(for="").form__label Ваше имя
										input(type="text" name='Name').form__input.validate__NAME
								div.form__line
									div.form__item.form__item--small
										label(for="").form__label Ваш e-mail
										input(type="text" name='Email').form__input.validate__EMAIL
									div.form__item.form__item--small
										label(for="").form__label Ваш телефон
										input(type="text" name='Phone').form__input.validate__PHONE.phone
								div.form__line
									div.form__item
										label(for="").form__label Комментарий
										textarea(name='Comment').form__textarea
								div.form__line
									div.form__check-wrapper
										input(type="checkbox" name='agree' checked='checked').form__check.validate__CHECKBOX#agree
										label(for="agree").form__check-label Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.
								div.form__button
									button(type='submit').button.button--orange.button--big Отправить

				div.popup__success
					div.popup__success-title Ваше сообщение отправлено
					div.popup__success-text Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.


	div.popup#free
		div.popup__inner
			div.popup__closer
			div.popup__over
			div.popup__container
				div.popup__content
					div.popup__title На бесплатное занятие
					form(action="mail.php").popup__form#freeForm
						input(type='hidden' name='action' value='freelesson')
						div.popup__enemy
							input(type="text" value='' name="disease").popup__enemy-input
							div.popup__enemy-remove
						div.popup__form-inner
							div.form
								div.form__line.form__line--error
									div.form__item
										div.form__error_text
								div.form__line
									div.form__item
										label(for="").form__label Ваше имя
										input(type="text" name='Name').form__input.validate__NAME
								div.form__line
									div.form__item.form__item--small
										label(for="").form__label Ваш e-mail
										input(type="text" name='Email').form__input.validate__EMAIL
									div.form__item.form__item--small
										label(for="").form__label Ваш телефон
										input(type="text" name='Phone').form__input.validate__PHONE.phone
								div.form__line
									div.form__item
										label(for="").form__label Комментарий
										textarea(name='Comment').form__textarea
								div.form__line
									div.form__check-wrapper
										input(type="checkbox" name='agree' checked='checked').form__check.validate__CHECKBOX#agree
										label(for="agree").form__check-label Отправляя нам данную форму вы соглашаетесь с политикой конфиденциальности.
								div.form__button
									button(type='submit').button.button--orange.button--big Отправить

				div.popup__success
					div.popup__success-title Ваше сообщение отправлено
					div.popup__success-text Спасибо за интерес, проявленный к нашей компании. В ближайшее время мы свяжемся с Вами.
div.s-popups
	div.s-popup.s-popup--blue#service_1
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 01
						div.s-popup__content
							div.s-popup__title Уникальный диагностический центр для взрослых и детей
							div.s-popup__list
								div.s-popup__list-item Современное медицинское оборудование
								div.s-popup__list-item Врачи офтальмологи высшей категории
								div.s-popup__list-item Компьютерная диагностика
			div(style='background-image:url()' data-src='assets/images/content/s-popup_1.jpg').s-popup__image

	div.s-popup.s-popup--dark-blue#service_2
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card.s-popup__card--2
					div.s-popup__card-inner
						div.s-popup__num 02
						div.s-popup__content
							div.s-popup__title Амбулаторное лечение взрослых и детей
							div.s-popup__list
								div.s-popup__list-item Коррекция сложного зрения
								div.s-popup__list-item Врачи офтальмологи высшей категории
								div.s-popup__list-item Онлайн запись
			div(style='background-image:url()' data-src='assets/images/content/s-popup_2.jpg').s-popup__image

	div.s-popup.s-popup--green#service_3
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card.s-popup__card--3
					div.s-popup__card-inner
						div.s-popup__num 03
						div.s-popup__content
							div.s-popup__title Огромный выбор оправ, очков и контактных линз
							div.s-popup__list
								div.s-popup__list-item Более 8000 моделей
								div.s-popup__list-item Более 120 брендов
								div.s-popup__list-item Полная линейка Ray Ban
								div.s-popup__list-item Изготовление очков любой сложности
			div(style='background-image:url()' data-src='assets/images/content/s-popup_3.jpg').s-popup__image

	div.s-popup.s-popup--orange#service_4
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card.s-popup__card--4
					div.s-popup__card-inner
						div.s-popup__num 04
						div.s-popup__content
							div.s-popup__title Всегда лучшие цены, выгодные акции, сезонные распродажи
							div.s-popup__list
								div.s-popup__list-item Регулярное обновление ассортимента
								div.s-popup__list-item Прямые поставки от ведущих производителей
								div.s-popup__list-item Система лояльности
			div(style='background-image:url()' data-src='assets/images/content/s-popup_4.jpg').s-popup__image



	div.s-popup.s-popup--custom#p-card-1
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 01
						div.s-popup__title Макдэл 08
						div.s-popup__text Гелий-неон-лазерный аппарат. Занятия на приборе стимулируют развитие форменного зрения и нормализует аккомадационную способность глаза.
						div.s-popup__button
							a(href="#" data-popup='order').button.button--orange.button--big Записаться на занятие
			div(style='background-image:url()' data-src='assets/images/content/p-card-popup_1.jpg').s-popup__image


	div.s-popup.s-popup--custom#p-card-2
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 01
						div.s-popup__title Амо-Атос (АМБЛИО)
						div.s-popup__text Магнитотерапия  и фотостимуляция  сетчатки   и зрительного нерва. Методика позволяет развивать и повышать зрительные функции. 
						div.s-popup__button
							a(href="#" data-popup='order').button.button--orange.button--big Записаться на занятие
			div(style='background-image:url()' data-src='assets/images/content/p-card-popup_2.jpg').s-popup__image

	div.s-popup.s-popup--custom#p-card-3
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 03
						div.s-popup__title Плеоптика 3-Тир, Галактика
						div.s-popup__text Программа предназначена для лечения амблиопии («ленивый глаз») любой степени и любого вида у пациентов от 4-х лет и старше. Метод дает хорошие результаты также в случаях резко неустойчивой фиксации, когда многие другие способы лечения амблиопии оказываются неэффективными.
						div.s-popup__button
							a(href="#" data-popup='order').button.button--orange.button--big Записаться на занятие
			div(style='background-image:url()' data-src='assets/images/content/p-card-popup_3.jpg').s-popup__image

	div.s-popup.s-popup--custom#p-card-4
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 03
						div.s-popup__title Визотроник
						div.s-popup__text Офтальмологический тренажер-релаксатор, предназначенный для профилактики и лечения миопии, спазма аккомодации, хронического зрительного утомления, компьютерного зрительного синдрома, жалоб астенопического характера у взрослых и детей. Под воздействием тренировок происходит рефлекторная релаксация цилиарной мышцы, что приводит к снятию зрительного напряжения.
						div.s-popup__button
							a(href="#" data-popup='order').button.button--orange.button--big Записаться на занятие
			div(style='background-image:url()' data-src='assets/images/content/p-card-popup_4.jpg').s-popup__image

	div.s-popup.s-popup--custom#p-card-5
		div.s-popup__wrap
			div.s-popup__inner
				div.s-popup__closer
				div.s-popup__card
					div.s-popup__card-inner
						div.s-popup__num 03
						div.s-popup__title Синоптофор
						div.s-popup__text Синоптофор – это ортоптический, который используется для лечения косоглазия, увеличения фузионных резервов и подвижности глаз. С его помощью удается исправить нарушения в двигательной функции органа зрения. Устройство позволяет определить угол отклонения от нормы, обнаружить слепые участки, получить информацию о фузионных резервах и состоянии сетчатки.
						div.s-popup__button
							a(href="#" data-popup='order').button.button--orange.button--big Записаться на занятие
			div(style='background-image:url()' data-src='assets/images/content/p-card-popup_5.jpg').s-popup__image
